.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
}
.Login img{
    width: 240px;
    margin-top: 20px;
}
.login-cont{
    width: 300px;
    margin-top: 30px;
    border: 2px solid lightgray;
    padding: 25px;
    border-radius: 5px;
}
.Login p{
    font-size: 0.9rem;
    margin: 10px 0;
}
.signbtn ,.regbtn{
    background-color: #febd68;
    border-radius: 2px ;
    border-color: #ba843d;
    margin-left: 3px;
    height: 26px;
    padding:0 5px;
    font-weight: 600;
}
.regbtn:hover{
    cursor: pointer;
}
.signbtn:hover{
    cursor: pointer;
}
.regbtn{
    width:290px;
    
}
.login-cont form h5{
    margin: 4px 0;
}
.login-cont form input{
    width:290px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 3px;
    height: 25px;
}